PORT=5000
NODE_ENV=production
JWT_SECRET=super_secret_jrms_jwt_key_2026_bca_project
JWT_EXPIRES_IN=7d

# Supabase PostgreSQL Connection Strings
DATABASE_URL=postgresql://postgres.cqfcmrzayvtctbqlqzlo:Manpreet%4011@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.cqfcmrzayvtctbqlqzlo:Manpreet%4011@aws-0-ap-south-1.pooler.supabase.com:5432/postgres

CLIENT_ORIGIN=*
